body {
    justify-content: center;
    overflow-x: hidden;
    // text-align: center;
}

.AboutusContainer {
    height: 100vh;
    width: 100vw;
    // text-align: center;

    .AboutusContainerTitle {
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;

        .AboutusTitle {
            text-align: center;
            color: #fcb500;

        }
    }

    .AboutusParagraphContainer {
        margin-left: 140px;


        .AboutusVisionContainer {
            margin-top: 30px;
            text-align: justify;
            margin-bottom: 30px;
           // line-height: 1.5;
        }

        .AboutusMissionContainer{
            margin-top: 30px;
            text-align: justify;
            margin-bottom: 30px;
            //line-height: 1.5;

            .aboutusPTag{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        // .aboutusTag {
        //     //line-height: 1.5;
        // }

    }

    .AboutusTheoryContainer{
        margin-top: -10px;
        // text-align: centre;
        //line-height: 1.5;
        margin-left: 400px;
        //background-color: #fcb500;

         img{
        max-width: 350px;
        margin-left: -400px;
        height: 400px;
         margin-top: 10px;
         }

         .AboutusTheory{
            margin-top: -420px;
            margin-bottom: 100px;
         }
         

    }

     

    // .AboutusTheoryContainer img{
    //     max-width: 350px;
    //     margin-left: -400px;
    // }

}

.aboutUsFooter{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #fcb500;
    width: 100%;
    margin-left: -8px;
    padding-right: 16px;
    margin-top: 300px;
    height: 50px;
    padding-top: 50px;

    h3 {
        font-size: larger;
        font-family: "Courier New", Courier, monospace;
        margin-top: -7px;
        margin-left: 25px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        margin-top: -7px;

        li {
            margin-left: 20px;
            height: 40px;
            width: 40px;
        }
    }

    h4 {
        text-align: center;
        margin-top: -7px;
    }

}


