.charitiesManageInventoriesContainer {
  margin-left: 350px;
  margin-right: 70px;
  margin-top: -500px;

  .charitiesManageInventoriesStatisticsContainer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: rgb(226, 221, 221);
    border-radius: 5px;
    margin-bottom: 20px;

    .charitiesManageInventoriesStatistic {
      height: 100px;
      margin-right: 10%;
      margin-top: 25px;
      margin-left: 2%;
      width: 200px;
      text-align: center;
      border-radius: 5px;
      background-color: #fcb500;
      // box-shadow: 0px 5px 20px rgb(75, 71, 71);

      h3 {
        margin-left: 5px;
        margin-right: 5px;
        font-size: medium;
        padding-top: 10px;
      }

      p{
        padding-top: 5px;
      }
    }
  }

  .charitiesManageAndUpdateInventoriesContainer {
    display: flex;
    flex-direction: row;

    .charitiesManageInventoriesAllInventories {
      background-color: rgb(208, 209, 210);
      border-radius: 5px;
      height: 330px;

      .CMB-AllInventoriesTitle {
        text-align: center;
        font-weight: lighter;
        margin-right: 12px;
        color: black;
        font-family: "Courier New", Courier, monospace;
        margin-top: 5px;
        margin-bottom: 20px;
      }

      .CMB-InventoryItemContainer {
        display: flex;
        flex-direction: column;
        width: 420px;
        height: 290px;
        margin-top: -20px;
        overflow-y: auto;

        .CMB-InventoryItem {
          color: black;
          background-color: #fcb500;
          width: 380px;
          height: 40px;
          text-align: center;
          margin-left: 10px;
          margin-right: 10px;
          border-radius: 5px;
          margin-bottom: 10px;
        }

        .CMB-InventoryItem:hover {
          background-color: #8d5412;
          color: white;
        }
      }
    }

    .CMB-UpdateOrAddInventoryContainer {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      background-color: rgb(208, 209, 210);
      width: 500px;
      border-radius: 5px;
      height: 330px;

      .adminTargetInventoryName {
        text-align: center;
        font-weight: lighter;
        color: black;
        font-family: "Courier New", Courier, monospace;
        margin-bottom: 10px;
        margin-top: 5px;
      }

      .CMB-UpdateOrAddInventoryForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 420px;
        margin-top: -10px;

        .inventoryDropdown {
          position: relative;
          display: inline-block;
          align-content: center;
          align-self: center;
          font-family: "Lucida Console", "Courier New", monospace;
          margin-left: 30px;

          .inventoryDropbtn {
            background-color: #fcb500;
            color: white;
            padding: 10px;
            font-size: large;
            border: none;
            cursor: pointer;
            border-radius: 5px;
          }

          .inventoryDropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            overflow-y: auto;
            height: 150px;
          }

          .inventoryDropdown-content p {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }

          .inventoryDropdown-content p:hover {
            background-color: #fcb500;
            cursor: pointer;
          }
        }

        .inventoryDropdown:hover .inventoryDropdown-content {
          display: block;
        }

        .inventoryDropdown:hover .inventoryDropbtn {
          background-color: #8d5412;
        }

        .CMB-UpdateOrAddInventoryFormInputContainer {
          margin-top: 20px;

          .CMB-UpdateOrAddInventoryFormInput {
            margin-bottom: 10px;
            height: 30px;
            width: 90%;
            border-radius: 5px;
            margin-left: 15px;
            font-size: large;
          }
        }

        .updateOrDeleteCharityButtonContainer {
          display: flex;
          flex-direction: column;
          margin-top: 80px;

          .saveButton {
            padding: 8px 12px;
            border-radius: 10px;
            margin-top: -50px;
            width: 300px;
            margin-left: 60px;
            margin-right: 20px;
            margin-bottom: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            background-color: #fcb500;
            border: none;
            font-family: "Courier New", Courier, monospace;
          }

          .saveButton:hover {
            background-color: #109232;
            cursor: pointer;
          }

          .deleteButton {
            padding: 8px 12px;
            border-radius: 10px;
            margin-top: 0px;
            width: 300px;
            margin-left: 60px;
            margin-right: 20px;
            margin-bottom: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            background-color: #fcb500;
            border: none;
            font-family: "Courier New", Courier, monospace;
          }

          .deleteButton:hover {
            background-color: #ff0000;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
