.form {
    display: flex;
    flex-direction: column;
    text-align: left;

    .namesInput {
      display: flex;
      flex-direction: row;
      text-align: left;

      label {
        color: black;
        text-align: left;
        margin-left: 9px;
      }

      .labelName {
        // margin-right: 0px;
        margin-top: -17px;
      }
    .textInput{
        background-color: red;
    }
    }
}