.footer {
  background-color: black;
  color: #fcb500;
  width: 100%;
  margin-left: -8px;
  padding-right: 16px;
  margin-bottom: -8px;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  padding-top: 50px;
}
