@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=EB+Garamond&display=swap');

body {
  justify-content: center;
}

.randomImages {
  width: 100%;
  // width: 1260px;
  height: 800px;
  margin-top: 15px;
  // margin-left: 40px;
  // margin-right: 40px;
  background-color: white;
  // border-radius: 5px;
}

.NiaAbout {
  text-align: justify;
  font-weight: medium;
  // font-weight: bold;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  font-size: larger;
  font-family: "Amethysta', serif";
  // font-size: larger;
  // font-family: "Courier New", Courier, monospace;
}


.registerCharity {
  text-decoration: none;
  width: 100px;
  height: 20px;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  // justify-self: center;
  text-align: center;
  margin-left: 45%;
  margin-top: 50px;
  margin-bottom: 50%;
  font-style: bold;
  font-size: large;
  background-color: #fcb500;
  border: none;
  font-family: "Amethysta', serif";
}
.registerCharity:hover{
  background-color: #8d5412;
}




.charitiesTitle {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  margin-top: 5rem;
  color: #fcb500;
  font-family: "Amethysta', serif";
}

.CharitiesContainer {
  display: grid;
  // height: 300px;
  gap: 25px 25px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: #fcb500;
  width: 100vw;
  margin-left: 0px;
  padding-right: 16px;
  margin-bottom: -8px;
  height: 50px;
  padding-top: 50px;

  h3 {
    font-size: larger;
    font-family: "Amethysta', serif";
    margin-top: -7px;
    margin-left: 50px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-top: -7px;

    li {
      margin-left: 20px;
      height: 40px;
      width: 40px;
    }
  }

  h4 {
    text-align: center;
    margin-top: -7px;
  }
}
