.navbar {
 
  display: flex;
  // margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  // background-color: black;
  left: 0;
  right: 0;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;

  img {
    // position: relative;
    top: 0px;
    width: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    margin-left: -20px;
  }

  .link {
    list-style-type: none;
    text-decoration: none;
    width:100px;
    height:20px;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    text-align: center;
    // margin-top: 3px;
    font-style: bold;
    font-size: larger;
    background-color: #fcb500;
    border: none;
    font-family: "Amethysta', serif";
  }
  .link:hover{
    background-color: #8d5412;
  }

  .RegisterCharityNavLink{
    list-style-type: none;
    text-decoration: none;
    width:100px;
    height:40px;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    text-align: center;
    margin-top: 3px;
    font-style: bold;
    font-size: large;
    background-color: #fcb500;
    border: none;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  .RegisterCharityNavLink:hover{
    background-color: #8d5412;
  }
}
