*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.title{
  text-align: center;
  align-items: center;
  color: white;
  font-weight: 100;

  .menstrual-health-title{
    padding-top:8em ;
  }


  .title-image{
    min-height: 50vh;
    background:url("https://gdb.voanews.com/FFCE7BFC-9815-4332-9EB8-25F8DC60B5F4_w1023_r1_s.jpg") no-repeat ;
    background-size: cover;
    background-position: center;
    // filter: blur(5px);
    // -webkit-filter: blur(5px);
    height: 100%;
  }
}


.text{
  margin-top: 2em;
  .sanitary-pads-title{
    margin-bottom: 2em;
    text-align: center;
    align-items: center;
    font-weight: 900;
    color:#fcb500 ;
  }
  .sanitary-pads-paragraph{
    padding-left: 1em;
    padding-right: 1em;
  }
  .sanitary-pads-list{
    padding-left: 3em;
  }
}


