body {
  justify-content: center;
}
.staffcontainer {
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: #fcb500;
  width: 100%;
  bottom: 0;
  margin-right: 869px;
  padding-right: 460px;
  margin-bottom: -20px;
  height: 60px;
  padding-top: 50px;
  overflow-x: hidden;
}
